.form {
    display: flex;
    /* border-top: 2px solid #d3d3d3; */
    margin-top: 5px;
    margin-bottom: 0;
    align-self: center;
    /* height: 20px; */
}

.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 0.9em;
    height: inherit;
    background-color: inherit;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    /* color: black !important; */
    text-transform: uppercase;
    text-decoration: none;
    background: inherit;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    /* border: solid 2px black; */
}
