.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffc941;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffc941;
    border-radius: 8px;
    height: 100%;
    width: 70%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 480px) and (max-width: 1200px) {
    .container {
        width: 60%;
    }
}
