html,
body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.chat {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #ffc941;
    flex-direction: column;
}
.chat__container {
    width: 40%;
    height: 70%;
    border: solid 2px black;
    background-color: whitesmoke;
}
.render-chat {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.render-msg {
    /* display: flex; */
    /* border-radius: 0; */
    /* padding: 15px 20px; */
    width: 100%;
    height: 80%;
    /* border-radius: 5px; */
}
